/* === Fonts ===*/
/* Font-Family*/
$fontFamily: sans-serif;
/*font-sizes*/
$fontSizeS: 0.75rem;
$fontSizeM: 1rem;
$fontSizeL: 1.5rem;
$fontSizeXL: 2rem;
$fontSizeXXL: 3rem;

/* === Colours ===*/
$primaryColor: #bebebe;
$secondaryColor: #fff;

$textColorDark: black;
$textColorMedium: gray;
$textColorLight: white;

$accentColor: purple;