@import "../assets/Variables.scss";

.container {
  display: flex;
  justify-content: center;
}

.movieDetailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $secondaryColor;
  margin: 0 5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  position: relative;
  max-width: 1000px;

  div.text-container {
    /*height: 400px;*/
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h2 {
      font-size: $fontSizeXXL;
      max-width: 90%;
      margin-top: 2rem;
    }

    > p:first-of-type {
      font-weight: bold;
      font-size: $fontSizeL;
    }

    > p:last-of-type {
      width: 100%;
      padding-right: 2rem;
      line-height: 1.25rem;
      text-align: justify;
    }

    div.logo-container {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      a {

        img {
          width: 50px;

          margin: .5rem 0;
        }

        &:hover img {
          transition: all 250ms ease-in;
          scale: 1.1;
        }

        &:active img {
          transition: all 50ms ease-in;
          scale: .75;
        }
      }

      div {
        display: flex;
        gap: 1rem;

        > * {
          display: grid;
          place-items: center;
          border-radius: 1rem;
        }

        p {
          font-size: $fontSizeXL;
          cursor: pointer;
          padding: 0 1.5rem;

          &:first-of-type {
            font-size: $fontSizeL;
            box-shadow: 0 0 12px -3px $textColorMedium;

          }

          &:last-of-type {
            filter: drop-shadow(2px 2px 2px $textColorMedium);
            padding-right: 0;
          }

          &::selection {
            background-color: inherit;
            color: inherit;
          }

          &:active {
            scale: .9;

            &:first-of-type {
              box-shadow: 0 0 5px -1px $textColorMedium
            }
            &:last-of-type {
              filter: drop-shadow(1px 1px 2px $textColorMedium);
            }
          }
        }

      }
    }
  }

  div.poster-container {
    position: relative;


    img.poster {
      outline: 10px solid $secondaryColor;
      /*outline: 5px solid $accentColor;*/
      height: 100%;
      transition: all 500ms ease;


      &:hover {
        scale: 1.15;
        rotate: 2deg;
        transform: translateX(10%);
      }
    }

    svg {
      position: absolute;
      top: 1.5rem;
      left: -3rem;
      stroke: $accentColor;
      stroke-width: 1px;
      scale: 1.5;
      cursor: pointer;

    }
  }


}

@media (max-width: 650px) {
  .movieDetailContainer {
    flex-direction: column-reverse;
    margin: 0;
    padding: 5rem;
    align-items: flex-start;


    div.text-container {
      gap: 1rem;

      h2 {
        font-size: $fontSizeXL;
        max-width: 100%;
        margin-top: 1rem;
      }

      p:first-of-type {
        color: $textColorMedium;
        font-size: $fontSizeM;
      }

      > p:last-of-type {
        display: none;
      }
    }
  }
}