@import "../assets/Variables.scss";

.movieDetailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $secondaryColor;
  margin: 0 5rem;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;

  div {
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    h2 {
      font-size: $fontSizeXL;
    }


    p:last-of-type {
      width: 75%;
    }

    a {

      img {
        width: 50px;
        transition: all 250ms ease-in;
        margin: .5rem 0;
      }

      &:hover img {
        scale: 1.2;
      }
    }
  }

  .poster {
    border: 5px solid $secondaryColor;
    outline: 5px solid $accentColor;
    margin: 1rem 0;
  }


  svg {
    position: absolute;
    $distanceOfSvg: 3rem;
    top: $distanceOfSvg;
    right: $distanceOfSvg;
    stroke: $accentColor;
    stroke-width: 1px;
    scale: 3;

    path {
      fill: none;
    }

    &:hover, &:focus-visible {
      stroke: $textColorDark;

      path {
        fill: $accentColor;
      }
    }
  }
}

@media (max-width: 650px) {
  .movieDetailContainer {
    flex-direction: column;
  }
}